PORT=3000
ADMIN_TOKEN=replace-with-long-random-token\nADMIN_ORIGIN=https://qweeexxf-sudo.github.io
STEAM_USERNAME=bot_account_username
STEAM_PASSWORD=bot_account_password
STEAM_GUARD_CODE=
STEAM_2FA_CODE=
LEAGUE_ID=0
SERVER_REGION=3
BOT_API_URL=http://127.0.0.1:3000

BOT_DATA_DIR=/app/data
BOT_WORKER_ID=riftline-1
