PORT=3000
ADMIN_TOKEN=replace-with-long-random-token
STEAM_USERNAME=bot_account_username
STEAM_PASSWORD=bot_account_password
STEAM_GUARD_CODE=
LEAGUE_ID=0
SERVER_REGION=3
BOT_API_URL=http://127.0.0.1:3000
